# fly.toml app configuration file generated for ottawa-crime-lens-query on 2026-02-07T23:50:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ottawa-crime-lens-query'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
